body {
    font-family: sans-serif;
    background-color: #e5f4f9; /* Azzurro chiaro per un background freddo */
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #2a3d66; /* Blu scuro per i titoli */
}

button {
    margin-top: 10px;
}

.btn-primary {
    background-color: #4db8e6; /* Blu chiaro per i bottoni */
    border-color: #4db8e6;
}

.btn-primary:hover {
    background-color: #3a9ab1; /* Blu più scuro al passaggio del mouse */
    border-color: #3a9ab1;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Ombra più morbida */
    border-radius: 8px;
    padding: 20px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bolder;
    color: #1c2a44; /* Blu molto scuro per il titolo */
}

input.form-control {
    margin-bottom: 15px;
}

.d-none {
    display: none;
}

.card {
    transition: opacity 0.5s ease;
}

.card-body {
    border-color: #4db8e6; /* Colore blu chiaro per il bordo */
    box-shadow: 0 0 5px rgba(77, 184, 230, 0.5); /* Ombra blu chiara */
}

.container {
    margin-top: 5rem;
}

.row {
    display: flex;
    justify-content: center;
}

.col-12 {
    width: 100%;
}

.col-md-6 {
    width: 50%;
}

.btn-lg {
    width: 100%;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-5 {
    margin-top: 3rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    color: #2a3d66; /* Blu scuro per le etichette */
}

#bottone3 {
    width: 100%;
}

#cardNascosta3 {
    width: 100%;
}

#risultatoD {
    margin-top: 1.5rem;
}

#image {
    width: 100%;
}

#cardNascosta5 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    transition: all 0.3s ease;
}

#cardNascosta5 .card-body {
    padding: 20px;
    background-color: #f0f8ff; /* Celeste chiaro per il background */
}

#cardNascosta5 .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1c2a44; /* Blu scuro per il titolo */
}

#cardNascosta5 .form-label {
    font-weight: bold;
    color: #1c2a44; /* Blu scuro per l'etichetta */
}

#cardNascosta5 .btn-primary {
    background-color: #4db8e6; /* Blu chiaro */
    border-color: #4db8e6;
}

#cardNascosta5 .btn-primary:hover {
    background-color: #3a9ab1; /* Blu più scuro */
    border-color: #3a9ab1;
}

#karnaughTable {
    margin-top: 20px;
}

#risultatoKarnaugh {
    margin-top: 20px;
    font-size: 1.25rem;
    color: #1c2a44; /* Blu scuro per il risultato */
}

.karnaugh-cell {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.karnaugh-cell.inactive {
    background-color: #e9ecef; /* Celeste molto chiaro per cella inattiva */
}

.karnaugh-cell.active {
    background-color: #70d1e8; /* Azzurro chiaro per cella attiva */
    color: #ffffff;
}

.alert {
    font-size: 1.1rem;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.
